body {
        background-color: #1b262c;
        color:white;
        font: bold 18px/2 serif;
}
        h1 {
    color: #00b7c2;
}
        h3 {
    color: #00b7c2;
}
hr {
    border-color: #0f4c75;
    border-style: dotted none none none;
    border-width: 7px;
    width: 3%;
}
img {
    height: 200px;
}

.circular { border-radius:100%;
}
