body {
        background-image:
    url("https://wallpaperaccess.com/full/1534922.jpg");
        color: white;
}
        h1 {
    color: #fa1616;
}
        h3 {
    color: #68b0ab;
}
hr {
    border-color: #68b0ab;
    border-style: dotted none none none;
    border-width: 7px;
    width: 3%;
}
img {
    height: 200px;
}
